body {
  background-color: #effaf6;
}

.btn-success {
  background-color: #60c5ab;
  padding: 10px;
}

h1 {
  color: #59cbab;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 250%
}

#bigBox {
  width: 400px;
  box-shadow: 0px 0px 10px rgb(128, 128, 128);
  margin: 10%;
  border-radius: 2%;
}

#currency {
  text-align: left;
}
/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Quattrocento', serif; */