body {
  background-color: #effaf6;
}

.btn-success {
  background-color: #60c5ab;
  padding: 10px;
}

h1 {
  color: #59cbab;
  font-style: strong;
  font-family: 'Libre Franklin', sans-serif;
}

/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Quattrocento', serif; */